DEBUG=False

MODEL_PROVIDER=gemini
MODEL_NAME=gemini-2.5-flash

GEMINI_API_KEY=
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=

CHROMA_DB_PATH=./data/chroma
SQLITE_DB_PATH=./data/finsight.db

APP_NAME=FinSight
APP_VERSION=0.1.0